table{
    border-collapse: collapse;
}
td {
    border: 1px solid white;
    color: white;
}

.green-table{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(10, 136, 56), rgb(41, 243, 115), rgb(10, 136, 56));
    border: 10px solid #461F00;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rotate {
    transform: rotate(-90deg);
}
.rotate2 {
    transform: rotate(90deg);
}

.betting_field {
    width: 25px;
    height: 20px;
    text-align: center;
}

#betting_field_table{
    margin-top: -113px;
    margin-left: auto;
    margin-right: auto;
}
#betting_field_0{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 8px;
    left: 43px;
}

#options_below{
    margin-top: -116px;
    margin-left: auto;
    margin-right: auto;
}
#options_below td {
    text-align: center;
    height: 32px;
    width: 43px;
}

#number_showcase{
    width: 100px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 100px;
    color: white;
}

#wheel {
    animation:spin 2s ease-in-out 1;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.score_container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transform: rotate(90deg);
    left: -20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 20px;
    left: -35px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}